{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "prettier"],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 120,
        "useTabs": false,
        "endOfLine":"auto" //Needed because Windows uses "CRLF" End of line sequence by default. 
      }
    ],  
    "indent": ["off", "tab"],
    "linebreak-style": ["off"],
    "semi": ["warn", "always"],
    "no-set-state": "off",
    "no-console": ["off"],
    "no-debugger": "warn",
    "react/prop-types": [0],
    "react/display-name": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
